extends layout

block title
  | My Dashboard

//- equivalent to application.html in Rails; manages what shows up on main page of the app
block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='welcome', data-view='Text', data-title='Hello', data-text='This is your shiny new dashboard.', data-moreinfo='Protip: You can drag the widgets around!')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='peratio', data-view='Number2', data-title='PE Ratio')
      li(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
        div(data-id='twitter', data-view='Number3', data-title='Twitter Feed')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='valuation', data-view='Number', data-title='Market Cap', data-prefix='$')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='volume', data-view='Meter', data-title='Volume', data-min='0', data-max='100000000')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='price', data-view='Graph', data-title='Price', style='background-color:#ff9618')
     //-   li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
    //-     div(data-id='buzzwords', data-view='List', data-unordered='true', data-title='Buzzwords', data-moreinfo='# of times said around the office')
    //- center
    //-   div(style='font-size: 12px') Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' -H "Content-Type: application/json" http://#{request.header('host')}/widgets/welcome
